.calculator {
    padding-top: 80px;
    padding-bottom: 50px; 
}

.bmi {
    box-shadow: 0px 0px 15px black;
    border-radius: 5px;
    padding: 1.2em;  
}

.bmibtn {
    width: 100%;
    margin-bottom: 15px;
}

.bmiHeader {
    text-align: center;
}

.mainText {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.imgResult {
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    height: 60vh;
    box-shadow: 5px 5px 10px black;
}

.resultColor {
    color: rgb(44, 161, 44);
}

