.content{

    max-width: 60rem;
    min-width: 50rem;
}

.content img{
    width: 100%;

}

.content2 img{

    width: 100%;
    float: left;

}

.content2 {
max-width: 20rem;
min-width: 10rem;
padding: 1rem;
}

.contentContainer{

    display: flex;
    flex-wrap: wrap;

}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 0, 47);
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
    line-height: 1.6;
    text-transform: capitalize;
   }