.content{

    max-width: 60rem;
    min-width: 50rem;
    background-color: white;
}

.content img{
    width: 40%;
    padding-left: 20rem;
    padding-top: 1rem;

}

.content2 img{

    width: 100%;
    float: left;

}

.content2 {
max-width: 20rem;
min-width: 10rem;
padding: 1rem;
background-color: white;
}

.contentContainer{

    display: flex;
    flex-wrap: wrap;

}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(14, 17, 16);
    text-align: center;
    text-decoration:dashed;
    letter-spacing: 2px;
    line-height: 1.6;
    text-transform: capitalize;
    padding-top: 8rem;
    padding-bottom: 4rem;
   }

   .footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-menu {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.company, .contactUs, .subscribe {
    display: flex;
   
}

.social-media {
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

.copyright {
    text-align: center; 
    width: 100%; 
}

.image-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.image-flex img {
    flex: 1 0 20%; 
    margin: 5px; 
    width: 20%;
}

.hover-image {
    transition: all 0.3s ease; 
}

.hover-image:hover {
    opacity: 0.7; 
    transform: scale(1.1); 
}

.hover-button {
    background-color: rgb(176, 176, 176);
    color: black;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; 
   }
   
   .hover-button:hover {
    background-color: white; 
    color: black; 
   }

  