.content{

    max-width: 60rem;
    min-width: 50rem;
    background-color: white;
}

.content img{
    width: 40%;
    padding-left: 20rem;
    padding-top: 1rem;

}

.content2 img{

    width: 100%;
    float: left;

}

.content2 {
max-width: 20rem;
min-width: 10rem;
padding: 1rem;
background-color: white;
}

.contentContainer{

    display: flex;
    flex-wrap: wrap;

}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(14, 17, 16);
    text-align: center;
    text-decoration:dashed;
    letter-spacing: 2px;
    line-height: 1.6;
    text-transform: capitalize;
    padding-top: 8rem;
    padding-bottom: 4rem;
   }

   .footer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-menu {
    display: flex; /* Arrange items in a row */
    justify-content: space-between; /* Space items evenly */
    width: 100%; /* Ensure the menu takes up the full width */
}

.company, .contactUs, .subscribe {
    display: flex;
    /* Add any specific styles for these sections here */
}

.social-media {
    display: flex; /* Arrange social media icons in a row */
    justify-content: center; /* Center the icons */
    width: 100%; /* Ensure the social media section takes up the full width */
}

.copyright {
    text-align: center; /* Center the copyright text */
    width: 100%; /* Ensure the copyright text takes up the full width */
}

.image-flex {
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap onto multiple lines */
    justify-content: space-between; /* Adds some space between the items */
}

.image-flex img {
    flex: 1 0 20%; /* Each image will take up 20% of the container's width */
    margin: 5px; /* Adds some margin around the images */
    width: 20%;
}

.hover-image {
    transition: all 0.3s ease; /* Smooth transition effect */
}

.hover-image:hover {
    opacity: 0.7; /* Reduce opacity on hover */
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}

.hover-button {
    background-color: rgb(176, 176, 176);
    color: black;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition effect */
   }
   
   .hover-button:hover {
    background-color: white; /* Change the background color on hover */
    color: black; /* Change the text color on hover */
   }

  