.navbar {
    background-color:rgb(112, 112, 112);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   }
   
   .navbar-brand {
    margin-right: auto;
    border:solid black;
    color:rgb(28, 52, 4);
   }


   .navbar-start{

    display: flex;
    gap: 1rem;
    justify-content: flex-end;
   }
   
   .navbar-item {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding-left: 1rem;
   }
   
   .navbar-item:hover {
    color: lightblue;
}